<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd">

	<bean id="customerDestination" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg value="com.source3g.wcb.customer" />
	</bean>

	<bean id="customerTopicListenerConnectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="jmsFactory" />
		<!-- <property name="exceptionListener" ref="jmsExceptionListener" /> -->
		<property name="sessionCacheSize" value="100" />
		<property name="clientId" value="clientId_customer" />
	</bean>
	
	<bean id="customerDelTopicListenerConnectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="jmsFactory" />
		<!-- <property name="exceptionListener" ref="jmsExceptionListener" /> -->
		<property name="sessionCacheSize" value="100" />
		<property name="clientId" value="clientId_customer1" />
	</bean>
	
	<bean id="customerAddListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="customerTopicListenerConnectionFactory" />
		<property name="destination" ref="customerDestination" />
		<property name="pubSubDomain" value="true" />
		<property name="sessionTransacted" value="true" />
		<property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
		<property name="messageListener" ref="customerMessageListener" />
		<property name="subscriptionDurable" value="true" />
		<property name="durableSubscriptionName" value="clientId_customer" />
	</bean>
	<bean id="customerDelListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="customerDelTopicListenerConnectionFactory" />
		<property name="destination" ref="customerDestination" />
		<property name="pubSubDomain" value="true" />
		<property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
		<property name="messageListener" ref="customerDelMessageListener" />
		<property name="subscriptionDurable" value="true" />
		<property name="durableSubscriptionName" value="clientId_customer1" />
	</bean>

</beans>