<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<!-- jms 连接工厂 -->
	<bean id="jmsFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL">
			<value>${jms.broker.url}</value>
		</property>
		<property name="redeliveryPolicy" ref="redeliveryPolicy"></property>
	</bean>

	<bean id="connectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="jmsFactory" />
		<!-- <property name="exceptionListener" ref="jmsExceptionListener" /> -->
		<property name="sessionCacheSize" value="100" />
	</bean>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<constructor-arg ref="connectionFactory" />
		<property name="defaultDestinationName" value="com.source3g" />
		<property name="pubSubDomain" value="true"></property>
		<property name="sessionTransacted" value="true" />
		<!-- 使 deliveryMode, priority, timeToLive设置生效 -->
		<property name="explicitQosEnabled" value="true" />
		<!-- 发送模式 DeliveryMode.NON_PERSISTENT=1:非持久 ; DeliveryMode.PERSISTENT=2:持久 -->
		<property name="deliveryMode" value="2"></property>
		<property name="deliveryPersistent" value="true"></property>
		<property name="timeToLive" value="86400000"></property>
	</bean>

	<bean id="redeliveryPolicy" class="org.apache.activemq.RedeliveryPolicy">
		<property name="initialRedeliveryDelay" value="1000"></property>
		<property name="maximumRedeliveries" value="5"></property>
	</bean>

</beans>